[user]
	email = chinmay.kunkikar@gmail.com
	name = Chinmay Kunkikar
[core]
	editor = nano
[credential]
	helper = store
[alias]
	st = status
	cl = clone
	co = checkout
	cob = checkout -b
	del = branch -D
	rv = remote -v
	fch = fetch --all
	se = !git rev-list --all | xargs git grep -F
	br = branch --format=\"%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]\" --sort=-committerdate
	save = !git add -A && git commit -m 'chore: savepoint'
	undo = reset HEAD~1 --mixed
